* {
    margin: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.etch-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 490px;
    height: auto;
    border: 5px solid black;
}

.tile{
    width: 30px;
    height: 30px;
}

.filled-tile{
    background-color: blueviolet;
}

#reset-btn{
    margin: 50px;
}